<div class="sportsComp">
  <h2>Liste des sports</h2>
  <div class="sports">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let sport of sports" [class.selected]="sport === selectedSport">
        <a routerLink="/detail/{{sport.id}}">
          <span class="sport_id">{{ sport.name }} : </span>
        </a>
        <button class="delete" title="delete-sport" (click)="delete(sport)">Supprimer</button>
      </li>
    </ul>

    <div>
      <label>Nom du sport:
        <input #sportName />
      </label>

      <button (click)="add(sportName.value); sportName.value=''" class="btn btn-primary">
        Ajouter
      </button><br />
    </div>
  </div>
</div>


<!-- <h2>My Sports</h2>
<ul class="sports">
  <li *ngFor="let sport of sports" [class.selected]="sport === selectedSport">
    <a routerLink="/detail/{{sport.id}}">
      <span class="badge">{{ sport.id }} : </span> {{ sport.name }}
    </a>
    <button class="delete" title="delete-sport" (click)="delete(sport)">Supprimer</button>
  </li>
</ul>

<div>
  <label>Nom du sport:
    <input #sportName />
  </label>

  <button (click)="add(sportName.value); sportName.value=''" class="btn btn-primary">
    Ajouter
  </button><br />

</div> -->
