<table class="table table-hover" style="width:100%;">
  <tr>
    <th>Activité</th>
    <th>Niveau</th>
    <th>Lieu</th>
    <!-- <th>Editer</th> -->
    <th>Supprimer</th>
  </tr>
  <tr class="choices" *ngFor="let choice of choices">
    <td *ngIf="choice.sport">{{ choice.sport.name }}</td>
    <td *ngIf="choice.level">{{ choice.level.name }}</td>
    <td>
  <tr *ngFor="let place of choice.places; let i=index">{{ choice.places[i].name}}</tr>
  </td>

  <!-- <td>
    <button class="btn btn-info" routerLink="/details/{{choice.id}}" routerLinkActive="active">Editer</button>
  </td> -->
  <td>
    <button class="btn btn-danger" title="delete-choice" (click)="deleteChoice(choice)">Supprimer</button>
  </td>
  </tr>
</table>
<nav>
  <a *ngIf="personId" routerLink="/add-choice/{{personId}}" class="btn btn-success">Ajouter un choix</a>
</nav>