<div *ngIf="person">
  <h2>{{person.lastname }} </h2>
  <div>
    <label for="exampleFormControlInput1">
      nom:
      <input [(ngModel)]=" person.firstname" placeholder="prénom"><br />
      prénom:
      <input [(ngModel)]="person.lastname" placeholder="nom"><br />
      email:
      <input [(ngModel)]="person.email" placeholder="email"><br />
    </label>
  </div>
</div>
<!-- back button -->
<div class="button">
  <button (click)="updatePerson()">save</button> {{''}}
  <button (click)="deletePerson()">delete</button> {{''}}
  <button (click)="goBack()">Précédent</button>
</div>

<nav *ngIf="person">
  <a routerLink="/choice-person/{{person.id}}" (click)="getChoiceByPerson(person.id)"> Mes Préférences </a><br />
</nav>