<!-- refers to person (ex selectedPerson) -->
<!-- <p>
  person-detail works!
</p> -->

<div *ngIf="person">
    <div class="person-card">
      <div class="person-image">
        <img class="displayImg" [src]="person.image?person.image : '../../assets/images/pic-default.png'">
      </div>
      <div class="person-informations">
        <label>Nom:</label> {{person.lastname}} <br/>
        <label>Prénom:</label> {{person.firstname}} <br/>
        <label>Email:</label> {{person.email}} <br/>
      </div>
      <div class="person-button">
        <button routerLink="/update-person/{{person.id}}">Mettre à jour</button> {{''}}
        <button (click)="deletePerson()">Supprimer</button>  {{''}}
        <button (click)="goBack()">Précédent</button>
      </div>
      <div class="">
          <a routerLink="/choices">Voir les sports choisis</a>

          <!-- <a routerLink="/choices/details/{{choice.id}">Voir les sports choisis</a> -->
      </div>
    </div>
</div>


<!-- <div *ngIf="person">
    <h2>{{person.lastname | uppercase}} details</h2>
    <div>
      <span>id: </span>{{person.id}}
    </div>
    <div>
      <label>
          nom:
          <input [(ngModel)]="person.lastname" placeholder="prénom"><br/>       
          prénom:
          <input [(ngModel)]="person.firstname" placeholder="nom"><br/>         
          email:
          <input [(ngModel)]="person.email" placeholder="email"><br/>        
       </label>
    </div>
</div>
  
  <div class="button">  
    <button (click)="updatePerson()">save</button>  {{''}}
    <button (click)="deletePerson()">delete</button>  {{''}}
    <button (click)="goBack()">Précédent</button>
  </div> -->