<form class="container" [formGroup]="loginForm" (ngSubmit)="login()" enctype="multipart/form-data">
  <div class="form-group">
    <label for="email"><b>Email</b></label>
    <input type="text" id="email" formControlName="email" placeholder="Enter email" />
  </div>
  <div class="form-group">
    <label for="password"><b>Password</b></label>
    <input type="password" id="password" formControlName="password" placeholder="Enter password" />
  </div>
  <div class="form-action">
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>