<div class="update-person" *ngIf="person">
  <h5>Mettre à jour votre profil</h5>

  <form class="update" [formGroup]="updatePersonForm" (ngSubmit)="updatePerson()" enctype="multipart/form-data">

    <div class="form-group">
      <label for="lastname">Nom</label>
      <input formControlName="lastname" type="text" class="form-control" [ngClass]="{'ng-invalid': f.submit && f.lastname.invalid}"
        id="lastname" ng-required="required">
    </div>

    <div class="form-group">
      <label for="firstname">Prénom</label>
      <input formControlName="firstname" type="text" class="form-control" [ngClass]="{'ng-invalid': f.submit && f.firstname.invalid}"
        id="firstname" ng-required="required">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" type="email" class="form-control" id="email" ng-required="required">
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input formControlName="password" type="password" class="form-control" id="password" ng-required="required">
    </div>

    <button type="submit" [disabled]="updatePersonForm.invalid || loading">Mettre à jour :)</button> {{''}}
    <button (click)="goBack()">Précédent</button>

    <pre>{{ updatePersonForm.value | json }}</pre>

  </form>
</div>

<!-- [disabled]="!updatePersonForm.valid" -->
