<div class="app" style="text-align:center">
  <img width="300" alt="Angular Logo" src="../assets/images/sport1.jpeg">
  <h1>Welcome to {{ title }}!</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">Accueil</a>
    <ul class="nav nav-pills">
      <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
      <li><a (click)="logout()">Déconnexion</a></li>
      <li> <a routerLink="/add-person"> S'inscrire </a></li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLinkActive="active" routerLink="/persons">Profil</a>
        </li>
        <li class="nav-item active">
          <a routerLinkActive="active" routerLink="/persons">Personnes</a>
        </li>

        <li class="nav-item active">
          <a routerLinkActive="active" routerLink="/sports">Sport</a>
        </li>

        <li class="nav-item active">
          <a routerLinkActive="active" routerLink="/places">Lieu</a>
        </li>
        <li class="nav-item active">
          <a routerLinkActive="active" routerLink="/choices">Choix</a>
        </li>
      </ul>
    </div>
  </nav>


  <router-outlet></router-outlet>
  <app-messages></app-messages>



</div>