<nav>
  <a routerLink="/add-choice">Ajouter un choix </a><br />
</nav>
<h2>Mes Choices</h2>
<ul class="choices">
  <li *ngFor="let choice of choices">
    <a routerLink="/details/{{choice.id}}">
      <span class="badge"> Choice {{ choice.id }} </span>
    </a>
    <button class="delete" title="delete-choice" (click)="deleteChoice(choice)">Supprimer</button>
  </li>
</ul>

<br />
<table class="table table-hover" style="width:100%;">
  <tr>
    <th>#Choix</th>
    <th>Nom&Prénom</th>
    <th>Activité</th>
    <th>Niveau</th>
    <th>Lieu</th>
    <th>Editer</th>
    <th>Supprimer</th>
  </tr>
  <tr class="choices" *ngFor="let choice of choices">
    <td>{{ choice.id }}</td>
    <td *ngIf="choice.person">{{ choice.person.firstname }}
      {{choice.person.lastname}}

    </td>
    <td *ngIf="choice.sport">{{ choice.sport.name }}</td>
    <td *ngIf="choice.level">{{ choice.level.name }}</td>
    <td *ngFor="let place of choice.places; let i=index">{{ choice.places[i].name }}</td>

    <td>
      <button class="btn btn-info" routerLink="/details/{{choice.id}}" routerLinkActive="active">Editer</button>
    </td>
    <td>
      <button class="btn btn-danger" title="delete-choice" (click)="deleteChoice(choice)">Supprimer</button>
    </td>
  </tr>
</table>