<form [formGroup]="choiceForm" (ngSubmit)="addChoice()">
    <div class="form-group" formGroupName="sport">
        <label>Type de Sport</label>
        <select formControlName="id">
            <option *ngFor="let sport of sportList" [value]="sport.id">{{sport.name}}</option>
        </select>
    </div>
    <div formGroupName="level">
        <label>votre niveau</label>
        <select formControlName="id">
            <option [value]="1">débutant</option>
            <option [value]="2">intermédiaire</option>
            <option [value]="3">confirmé</option>
        </select>
    </div>
    <div class="form-group">
        <label>Lieu</label>
        <select formControlName="places" multiple>
            <option *ngFor="let place of currentSportplacesList" [value]="place.id">{{place.name}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-succes" [disabled]="choiceForm.invalid">Ajouter :)</button>
</form>