<div>
  <!-- Se connecter -->
  <!--<p>Bienvenue sur l'application de gestion de vos activités favorites du weed end{{ title }}!</p>-->
  <!--<p>Pour vous connecter, cliquez ici</p>-->
  <!--<p>Si vous n'avez pas de compte, cliquez ici pour vous enregistrer</p>-->
</div>
<!-- <h3>Mes Sports</h3>
<div class="grid grid-pad">
  <a *ngFor="let sport of sports" class="col-1-4" routerLink="/detail/{{sport.id}}">
    <div class="module sport">
      <h4>{{sport.name}}</h4>
    </div>
  </a>


</div> -->
<!-- <app-upload></app-upload>
<app-upload1></app-upload1> -->
