<form [formGroup]="personForm" (ngSubmit)="addPerson()" enctype="multipart/form-data">
  <div formGroupName="person">
    <label>
      Nom
      <input class="form-control" type="text" formControlName="firstname" [ngClass]="{'ng-invalid': true}" />
    </label><br />
    <label>
      Prénom
      <input class="form-control" type="text" formControlName="lastname" />
    </label><br />
    <label>
      email
      <input class="form-control" type="email" formControlName="email" />
    </label><br />
    <label>
      password
      <input class="form-control" type="text" formControlName="password" />
    </label><br />
    <label>
      image
      <input class="form-control" type="file" formControlName="image" />
    </label><br />
  </div>

  <div class="form-group">
    <label>Type de Sport</label>
    <select formControlName="sport">
      <option *ngFor="let sport of sportList" [value]="sport.id">{{sport.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>votre niveau</label>
    <select formControlName="level">
      <option [value]="1">débutant</option>
      <option [value]="2">intermédiaire</option>
      <option [value]="3">confirmé</option>
    </select>
  </div>
  <div class="form-group">
    <label>Lieu</label>
    <select formControlName="places" multiple>
      <option *ngFor="let place of currentSportplacesList" [value]="place.id">{{place.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-succes" [disabled]="personForm.invalid">Ajouter :)</button>

  <pre>{{ personForm.value | json }}</pre>
</form>